.table tr:hover td {
	color: #9C27B0;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.my-progress {
    padding: 0;
    margin: 0;
    height:5px;
    width:60%;
}

.my-hover tr:hover  {
	background: #fffabe;
}


.error , .errorlist {color:red}
.field {color:green}

.blink {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(244, 67, 54); }
  51% { color: rgba(244, 67, 54, 0); }
  100% { color: rgba(244, 67, 54, 0); }
}
@keyframes blink {
  50% { color: rgb(244, 67, 54); }
  51% { color: rgba(244, 67, 54, 0); }
  100% { color: rgba(244, 67, 54, 0); }
}

#id_methods {
 list-style-type:none;
}

#id_methods label {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#id_methods input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    left: -15px;
    position: relative;
}

















